<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jw.mybatis.dao.StuDao">

	<!-- 查询全部学生 -->
	<select id="findAll" resultType="com.jw.domain.people.Student">
		select 
			ms.student_id as studentId,
			ms.name as name,
			ms.sex as sex,
			ms.age as sex
		from mult_student ms
	</select>

	<!-- 根据名字查找 -->
	<select id="findByName" parameterType="java.lang.String" resultType="com.jw.domain.people.Student">
		select 
			ms.student_id as studentId,
			ms.name as name,
			ms.sex as sex,
			ms.age as sex 
		from 
			mult_student ms 
		where 
			ms.name=#{name}
	</select>
	
	<!-- 保存 -->
	<insert id="save">
		insert into mult_student 
			(NAME,AGE,SEX) 
		values 
			(#{name},#{age},#{sex})
	</insert>


</mapper> 